[submodule "pytest-immediate"]
	path = pytest-immediate
	url = git@github.com:XPerianer/pytest-immediate.git
[submodule "TestingPlugin"]
	path = TestingPlugin
	url = git@github.com:XPerianer/TestingPlugin.git
[submodule "TestingBackend"]
	path = TestingBackend
	url = git@github.com:XPerianer/TestingBackend.git
